
/*=============================================
=            order complete            =
=============================================*/

.order-complete {
  svg {
    font-size: 80px;

    margin-bottom: 20px;

    color: $theme-color--default;
  }
}

/*=====  End of order complete  ======*/

